<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52111084306-vum692o8ibjfud0q6i49lot75tj4i9kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52111084306-vum692o8ibjfud0q6i49lot75tj4i9kv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52111084306-b45dn2te2fhavq7lnpud9adabe1h8lbo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-q7Bra9ZD6pV2kADdbZIbWN9UuHsKRfE</string>
	<key>GCM_SENDER_ID</key>
	<string>52111084306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spagreen.onno</string>
	<key>PROJECT_ID</key>
	<string>onno-test</string>
	<key>STORAGE_BUCKET</key>
	<string>onno-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:52111084306:ios:2fd999efa7893bd60541cb</string>
</dict>
</plist>
